body {
  margin: 0;
  background-color: #2c2f39;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock {
  position: relative;
  width: 300px;
  height: 300px;
  background: white;
  border: 8px solid red;
  border-radius: 50%;
  background-image: url('clock.jpg'); 
  background-size: cover;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  transform: rotate(90deg);
}

.hour {
  width: 6px;
  height: 70px;
  background: black;
  z-index: 3;
  border-radius: 6px;
}

.minute {
  width: 4px;
  height: 100px;
  background: black;
  z-index: 2;
  border-radius: 4px;
}

.second {
  width: 2px;
  height: 110px;
  background: red;
  z-index: 1;
  border-radius: 2px;
}

.center-dot {
  width: 12px;
  height: 12px;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
  z-index: 5;
}

.brand {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Georgia', serif;
  font-size: 20px;
  color: red;
  font-weight: bold;
}
